
body {
  background-color: #006400;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#leftPaddle {
  background-color: darkgray;
  width: 20px;
  height: 80px;
  border-radius: 20px;
  position: absolute;
  top: 175px;
  left: 30px;
}
#rightPaddle {
  background-color: darkgray;
  width: 20px;
  height: 80px;
  border-radius: 20px;
  position: absolute;
  top: 175px;
  left: 390px;
}
#ball {
  background-color: darkgray;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  position: absolute;
  top: 210px;
  left: 210px;
}
#firstPlayerScore {
  color: darkgray;
  font-size: 40px;
  position: absolute;
  top: 0px;
  left: 0px
}
#secondPlayerScore {
  color: darkgray;
  font-size: 40px;
  position: absolute;
  top: 0px;
  right: 0px;
}
